//NUM-NAME-VAL-ITEMSPR-ITEMSPRFRAME-ITEMCOLOR
# // NO VAN
# trade-num-1 = RingofArcmage 2500 16 49 0  
# trade-num-2 = RingoftheAbaddon 2500 16 26 0  
# trade-num-4 = NecklaceOfMerien 4000 16 54 0  
# trade-num-5 = NecklaceOfXelima 4000 16 53 0  
# -----------------------------

trade-num-3 = KlonessEsterk 10000 1 27 0  
trade-num-6 = DemonSlayer 7500 1 17 9  
trade-num-7 = KlonessWand(MS.30) 7500 17 5 0  
trade-num-8 = MerienPlateMailM 5000 9 3 5  
trade-num-9 = MerienPlateMailW 5000 13 5 5  
trade-num-10 = MerienShield 25000 3 9 2  
trade-num-11 = I.M.CManual 25000 6 91 1  
trade-num-12 = KnecklaceOfMedusa 50000 16 36 5  
trade-num-13 = NeckPowerLight 25000 16 33 10  
trade-num-14 = LightingBlade 45000 1 22 0  
trade-num-15 = GiantBattleHammer 45000 15 8 9  
trade-num-16 = HealSpotManual 45000 6 91 4  
trade-num-17 = KlonessBlade 55000 1 23 0  
trade-num-18 = KlonessAxe 55000 15 11 0  
trade-num-19 = BlueFireManual 55000 6 91 4  
trade-num-20 = BerserkWand(MS.30) 70000 17 4 0  
trade-num-21 = BlackHammer 70000 15 8 10  
trade-num-22 = NeckPowerAirEle 70000 16 40 10  
trade-num-23 = AresElfBow 80000 2 3 9  
trade-num-24 = ElvinElfBow 80000 2 3 6  
trade-num-25 = FuryOfWarManual 80000 6 91 4  
trade-num-26 = StormBringer 95000 1 26 0  
trade-num-27 = LightWaveManual 95000 6 91 4  
trade-num-28 = ReflexHauberkW 95000 11 2 5  
trade-num-29 = ReflexHauberkM 95000 7 1 5  
trade-num-30 = The_Devastator 100000 1 21 0  
trade-num-31 = AresdenStormBringer 120000 1 26 9  
trade-num-32 = ElvineStormBringer 120000 1 26 6  
trade-num-33 = BlackDevastator 125000 1 21 10  
trade-num-34 = StormOfDeathManual 130000 6 91 4  
trade-num-35 = PowerHeroSword 130000 1 20 15  
trade-num-36 = PowerHeroWand 130000 17 2 11  
trade-num-37 = StripIceHammer 150000 15 8 9  
trade-num-38 = FireWaveManual 150000 6 91 4  